@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container-sm jumbotron">

   

    <div class="row">
        <div class="col-md-4">
            <h2>Contact </h2>
          </div>
        
        <div class="col-md-4">
           
            <address>
                <strong>John Doe</strong><br>
                Durban<br>
                KZN, 4001<br>
                <abbr title="Phone">P:</abbr> 073 978 1515<br>
                <abbr title="Email">E:</abbr> <a href="mthokozisi.nene2018@gmail.com">mthokozisi.nene2018@gmail.com</a>
            </address>
        </div>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
