@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container-sm">

    <div class="jumbotron">
        <h1 class="display-4 text-center">Welcome to My CV</h1>
    <p class="lead">Hello! I am Mthokozisi Nene, a passionate Software Developer with expertise in web development and software engineering.</p>

</div>
<div class="row text-center" >
   
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</div>
</div>
