@page
@model IndexModel
@{
    ViewData["Title"] = "Skill page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container-sm jumbotron">

 

    <div class="row">
       
        <div class="col-md-4">
            <h2>Skills</h2>
            <ul>
                <li>C#</li>
                <li>ASP.NET Core</li>
                <li>JavaScript</li>
                <li>HTML & CSS</li>
                <li>SQL</li>
                <li>Azure Foundamentals</li>
                <li>SQL</li>
                <li>GitHub</li>
            </ul>
        </div>
       
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
