<!-- Views/Shared/_SideNav.cshtml -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">My CV</span>
    </a>
    <img src="/NewFolder/nene.jpg" class="card-img-top" alt="...">
  <div class="card-body">
        <h5 class="card-title">Mthokozisi Nene</h5>
  </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link link-dark" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="/Skills" class="nav-link link-dark">
                Skills
            </a>
        </li>
        <li>
            <a href="/Experience" class="nav-link link-dark">
                Experience
            </a>
        </li>
        <li>
            <a href="/Education" class="nav-link link-dark">
                Education
            </a>
        </li>
        <li>
            <a href="/Contact" class="nav-link link-dark">
                Contact
            </a>
        </li>
    </ul>
    <hr>
</div>
